@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
body { color: #313739; font: 13px/20px Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, ul, ol, p { font-size: 1em; margin-bottom: 1em; }
h1, 
#heading h2 { font-size: 32px; font-weight: normal; line-height: 1.1em; letter-spacing: -2px; margin-bottom: 13px; }
	h1 strong { color: #86c6e1; font-weight: bold; position: relative; top: 1px; }
h2 { border-bottom: 1px solid #82ce7a; color: #136b35; font-size: 16px; font-weight: bold; margin-top: 26px; margin-bottom: 3px; }
	h2:first-child { margin-top: 0; }
	h2 em { color: #5a6163; font-weight: normal; }
	li h2 { margin-top: 0; }
h3 { color: #006e91; margin-bottom: 0; }
h4 { font-size: 11px; font-weight: bold; margin-bottom: 0; }
h5 { }
h6 { }
p { }

ul { list-style-type: none; margin-left: 8px; }
	ul li { background: url(../images/img-bullet.gif) 0 4px no-repeat; padding-left: 16px; margin-bottom: 9px; }
	ul ul { margin-top: 9px; }
		ul ul li { background: url(../images/img-arrow-green.gif) 5px 6px no-repeat; }
ol { margin-left: 3em; }
	ol li { }

a:link, a:visited { color: #006e91; text-decoration: none; }
a:hover, a:active { color: #136b35; text-decoration: underline; }
	#main a:link, #main a:visited, 
	#main a:hover, #main a:active { text-decoration: underline; }
	h2 a:link, h2 a:visited, 
	#main h2 a:link, #main h2 a:visited { color: #136b35; text-decoration: none; }
	h2 a:hover, h2 a:active, 
	#main h2 a:hover, #main h2 a:active { color: #82ce7a; text-decoration: underline; }
	a img { border: none; }

img, 
input { vertical-align: middle; }

table { margin-bottom: 1em; width: 100%; }
	table td, 
	table th { background: #eee; border: 1px solid #fff; padding: 2px 5px; }

.email-newsletter table { }
	.email-newsletter table td { background: inherit; border: none; padding: inherit; }

#constant-contact-signup { width: 170px; border: 1px solid #5a6163; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomright: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; padding: 9px; }

blockquote { background: #c6d7de; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomright: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; margin: 5px 0 15px 15px; clear: right; line-height: 1.4em; font-size: 14px; float: right; width: 215px; padding: 15px 10px 0 10px; text-align: center; }
	blockquote ul { margin-left: 5px; }
	blockquote li { background: url(../images/img-bullet-sidebar.gif) 0 5px no-repeat; padding-left: 10px; }

fieldset { border: 1px solid #006e91; -webkit-border-top-right-radius: 9px; -webkit-border-bottom-left-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomleft: 9px; border-top-right-radius: 9px; border-bottom-left-radius: 9px; margin: 0 0 15px 0; padding: 5px 15px; }
	fieldset legend { font-size: 9px; text-transform: uppercase; color: #666; padding: 0 5px; }

/* Links */
.pdflink { padding-right: 20px; background: url(../images/icon-pdf.gif) 100% 50% no-repeat; }
.casestudylink, 
.contactlink, 
.infolink { background-position: 0 50%; background-repeat: no-repeat; padding: 5px 0 5px 20px; }
.casestudylink { background-image: url(../images/icon-casestudy.gif); }
.contactlink { background-image: url(../images/icon-contactus.gif); }
.infolink { background-image: url(../images/icon-info.gif); }


.eventList { margin: 0; padding: 0; }
	.eventList li { background: none; border-bottom: 1px solid #a7adaf; line-height: 1.2em; margin: 0; min-height: 30px; padding: 5px 0 5px 40px; position: relative; }
		.eventList li .date { position: absolute; left: 0; top: 3px; text-align: center; width: 30px; }
			.eventList li .date .month { color: #86c6e1; font-size: 10px; text-transform: uppercase; }
			.eventList li .date .day { display: block; font-size: 24px; font-weight: bold; }
		.eventList li h4 { }
		.eventList li p { font-size: 11px; margin: 0; padding: 0; }

.event-meta { float: right; width: 190px; margin: 0 0 15px 0; }
	.event-meta p { line-height: 1.2em; margin: 0 0 5px 0; padding: 0 0 0 10px; }
		.event-meta p.register { margin: 10px 0; padding: 0; }
	.event-meta strong { color: #136b35; display: block; position: relative; left: -10px; }

#main .form-item { margin: 0 0 1em 0; min-height: 1em; padding-left: 125px; position: relative; }
	#main .field-suffix { font-size: 10px; color: #666; }
	#main .form-checkboxes .form-item, 
	#main td .form-item { padding-left: 0; margin: 0; }
	#main .form-item label { position: absolute; left: 0; top: 0; width: 120px; text-align: right; }
		#main .form-item label.option { position: static; left: auto; top: auto; width: auto; text-align: left; }
	#main .form-item .description { color: #666; font-size: 10px; }
	#main .form-item input.form-text { border: 1px solid #666; padding: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
	#main .form-checkboxes { margin: 0 0 1em 0; }
		#main .form-checkboxes .form-item { margin-left: 15px; text-indent: -15px; }

.intro { font-size: 14px; font-weight: bold; }

.item-list .pager { border-top: 1px solid #eee; list-style-type:none; margin: 0; padding: 5px 0; clear: both; text-align: right; }
	.item-list .pager li { background: #eee; border: 1px solid #ddd; color: #999; font-size: 10px; text-transform: uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image:none; display:inline; list-style-type:none; text-shadow: 0 1px 0 #fff; margin: 0; padding: 5px 5px 3px 5px; }
	.item-list .pager .pager-current { background: #dfebf0; border: 1px solid #006e91; color: #006e91; font-weight:bold; }
	.item-list .pager a:link, .item-list .pager a:visited { color: #999; }
	.item-list .pager a:hover, .item-list .pager a:active { color: #666; }

.meta { float: left; display: block; line-height: 1.3em; width: 100%; margin: 2em 0 0 0; font-size: 9px; color: #999; text-transform: uppercase; }
	.meta .submitted { display: block; float: left; text-align: left; width: 65%; }
	.meta .terms { float: right; text-align: right; width: 32%; }
	.meta a:link, .meta a:visited { color: #666; }
	.meta a:hover, .meta a:active { color: #313739; }

.more { font-size: 10px; margin: 0; padding: 0; text-align: right; text-transform: uppercase; }
	.more a { background: url(../images/img-arrow-green.gif) 100% 50% no-repeat; color: #5a6163; display: block; padding: 5px 10px; }

.news-listing { list-style-type: none; margin: 0; padding: 0; }
	.news-listing li { background: none; margin: 0 0 20px 0; min-height: 30px; padding: 0 0 0 40px; position: relative; }
		.news-listing li .date-month, 
		.news-listing li .date-day { position: absolute; left: 0; width: 30px; text-align: center; }
		.news-listing li .date-month { color: #136b35; font-size: 10px; text-transform: uppercase; top: 0; }
		.news-listing li .date-day { display: block; font-size: 24px; font-weight: bold; top: 16px; }
		.news-listing li h2, 
		.news-listing li .news-teaser { margin: 0; padding: 0; }


.three-col-wrapper { margin-left: -15px; }
	.three-col-wrapper .col { float: left; margin-left: 15px; width: 235px; }

.toc { }
	.toc li { width: 330px; margin-left: 15px; display: inline-block; vertical-align: top; }
	.toc h2 { border: none; }

/* Events */
	#teaser-events .eventListTeaser { margin: 0; padding: 0; }
		.eventListTeaser li { background: none; border-bottom: 1px solid #a7adaf; font-size: 11px; line-height: 1.3em; margin: 0; min-height: 28px; padding: 5px 0 3px 27px; position: relative; }
		.eventListTeaser h5, 
		.eventListTeaser p { margin: 0; padding: 0; }
		.eventListTeaser p { color: #5a6163; }
			.eventListTeaser li .date-month, 
			.eventListTeaser li .date-day { position: absolute; left: 0; width: 22px; text-align: center; }
			.eventListTeaser li .date-month { color: #136b35; font-size: 9px; text-transform: uppercase; top: 3px; }
			.eventListTeaser li .date-day { display: block; font-size: 20px; font-weight: bold; top: 15px; }
	
/* Blog */
#comments { padding-right: 300px; position: relative; min-height: 300px; }
	#comments .wmep-box { position: absolute; width: 285px; right: 0; top: 0; }
	#comments h2 { margin-top: 0; }
	#comments #edit-comment { height: 100px; width: 100%; }
	#comments .indented { border: 1px solid #a7adaf; margin-left: 0; padding: 5px; }

.links .comment_forbidden { background: #c6d7de; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomright: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; padding: 5px; line-height: 1.3em; }
	#comments .links { text-align: right; }
	#comments .links .comment_forbidden { background: none; padding: 0; text-transform: uppercase; font-size: 9px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

ol.blog-archive { list-style-type: none; margin: 0; padding: 0; }
	li.blog-post-summary { border-bottom: 1px solid #a7adaf; margin: 0 0 3em 0; min-height: 1%; padding: 0 0 5px 0; }
		li.blog-post-summary:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		* html li.blog-post-summary { height: 1%; }
		li.blog-post-summary h2.blog-post-title { font-size: 32px; font-weight: normal; }
		li.blog-post-summary .blog-post-more { border-bottom: 1px solid #d0d5d6; margin: 0 0 5px 0; padding: 0 0 5px 0; }
		li.blog-post-summary .blog-post-date, 
		li.blog-post-summary .blog-post-comments { color: #666; font-size: 10px; float: left; }
		li.blog-post-summary .blog-post-comments { float: right; }
			li.blog-post-summary .blog-post-date em { }
		li.blog-post-summary .blog-post-comments { }
			li.blog-post-summary .blog-post-comments em { }

/* Calendar */
.calendar-calendar ul.links { font-size: 9px; text-align: right; text-transform: uppercase; }
.calendar-calendar div.date-nav { background-color:#006e91; color:#fff; padding:0.2em; width:auto; border:1px solid #006e91; }
.calendar-calendar div.date-nav a, 
.calendar-calendar div.date-nav h3 { color:#fff; }
.calendar-calendar table { background: none; }
	.calendar-calendar div.calendar { background: none !important; }
	.calendar-calendar th, 
	.calendar-calendar td { background: none; line-height: 1.1em; }
		.calendar-calendar td.has-events { background: #e0eff4; }
		.calendar-calendar td.has-no-events {}
		.calendar-calendar td .inner div.calendar div,
		.calendar-calendar td .inner div.calendar div a { border: none; background: none !important; padding: 0; }
		.partner_event { background-color: #ffc; }

/* Events Main Page */
.page-events { }
	.page-events .region-content-bottom { position: relative; left: -15px; }
	.page-events #block-multiblock-2, 
	.page-events #block-views-partner_calendar-block_1 { width: 235px; float: left; margin-left: 15px; display: inline; }
		.page-events #block-multiblock-2 ul, 
		.page-events #block-views-partner_calendar-block_1 ul { margin: 0; padding: 0; }

/* Success Stories */
ul.success-stories-list { list-style: none; margin: 0; padding: 0 !important; }
	ul.success-stories-list li.success-story { background: #c6d7de; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomright: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; padding: 15px; margin: 0 0 15px 0; height: 185px; }
		ul.success-stories-list li.success-story:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		ul.success-stories-list li.success-story div.success-story-image { float: left; margin-right: 15px; }
		ul.success-stories-list li.success-story.even div.success-story-image { float: right; margin: 0 0 0 15px; }
		ul.success-stories-list li.success-story h2 { border-bottom: none; }
		ul.success-stories-list li.success-story h2.success-story-title { border-bottom: 1px solid #fff; color: #006d91; margin-top: 0; }
		ul.success-stories-list li.success-story p.success-story-teaser { }

#success-story-main { float: left; width: 485px; }
#success-story-side { float: right; width: 235px; }
	#success-story-side .main_ss_image { margin-bottom: 5px; }
	#success-story-side .imagegallerythumbs { margin-top: -5px; margin-left: -5px; margin-bottom: 15px; min-height: 55px; }
		#success-story-side .imagegallerythumbs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	#success-story-side .imagegallerythumb { display: inline; float: left; margin: 5px 0 0 5px; }
	#success-story-side #filelinks { height: 27px; margin-bottom: 15px; }
		#success-story-side #filelinks #pdf-link { float: left; }
		#success-story-side #filelinks #video-link { float: right; }
	#success-story-side #story-results { background: #c6d7de; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomright: 5px; border-top-left-radius: 5px; border-bottom-right-radius: 5px; padding: 15px 15px 5px 15px; line-height: 1.3em; }
		#success-story-side #story-results h2 { border-bottom: 1px solid #fff; color: #006d91; margin-top: 0; }
		#success-story-side #story-results ul { margin-left: 5px; }
		#success-story-side #story-results li { background: url(../images/img-bullet-sidebar.gif) 0 5px no-repeat; padding-left: 10px; }

.quicktabs_wrapper { position: relative; padding: 0 0 30px 0; min-height: 300px; }
	* html .quicktabs_wrapper { height: 300px; }
	.quicktabs_wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.quicktabs_main.quicktabs-style-sky { border: none; border-top: 1px solid #c6d7de; clear: both; margin-top: 10px; padding: 10px 0 0 0; position: relative; top: -0.1em; background: #fff; }
	.quicktabs_main.quicktabs-style-sky h2 { margin-top: 0; }
ul.quicktabs_tabs.quicktabs-style-sky { border-bottom: 1px solid #c6d7de; margin: 0; padding: 0; width: 100%; position: absolute; left: 0; bottom: 0; }
	ul.quicktabs_tabs.quicktabs-style-sky li { float: left; font-weight: normal; list-style: none; margin: 0; height: 2em; min-height: 2em; padding: 0; }
		ul.quicktabs_tabs.quicktabs-style-sky li.active { margin: 0; }

		ul.quicktabs_tabs.quicktabs-style-sky li a,
		ul.quicktabs_tabs.quicktabs-style-sky li a:visited { float: left; display: block; height: 2em; min-height: 2em; line-height: 2em; margin-right: 3px; padding: 0 8px; text-decoration: none; border-right: 1px solid #c6d7de; border-top: 1px solid #c6d7de; font-size: .95em; background: #e5edf0 url('../images/bg-shade-light.gif') repeat-x bottom left; color: #777; position: relative; }
		ul.quicktabs_tabs.quicktabs-style-sky li a:hover { text-decoration: none; border-color: #B3B3B3; background: #ccc url('../images/bg-shade-medium.gif') repeat-x bottom left; color: #fff; }
			ul.quicktabs_tabs.quicktabs-style-sky li.active a:hover { background: #ccc url('../images/bg-shade-medium.gif') repeat-x bottom left; }
		ul.quicktabs_tabs.quicktabs-style-sky li.active a,
		ul.quicktabs_tabs.quicktabs-style-sky li.active a:visited { height: 2em; min-height: 2em; line-height: 2em; font-weight: normal; border: 1px solid #eee; background: #3389a5 url('../images/bg-shade-dark.gif') repeat-x bottom left; border-color: #3389a5; color: #fff; font-size: .95em; font-weight: normal; top: auto; }
		ul.quicktabs_tabs.quicktabs-style-sky li:first-child a { border-left: solid 1px #c6d7de; }
		ul.quicktabs_tabs.quicktabs-style-sky li.active a { border-left: solid 1px #3389a5; }

/* Contact Us */
.page-contact-us { }
	.page-contact-us .node-type-webform { min-height: 1000px; padding-left: 420px; position: relative; }
		* html .page-contact-us .node-type-webform { height: 1000px; }
	.page-contact-us .webform-client-form { width: 405px; float: left; position: absolute; left: 0; top: 0; }

.lp_image {float:right; padding: 50px 0 10px 10px;}

#nav ul li.menu-path-node-1537 ul ul {
display:block;
}
/*
#nav ul li.menu-path-node-1537 ul ul {
-moz-border-radius: 0 5px 5px 0px;
background:none repeat scroll 0 0 #FFFFFF;
border-radius: 0 5px 5px 0px;
display:inline-block;
float:left;
left:170px;
position:absolute;
top: -15px;
}
*/

/* replacement for above */
#nav li ul ul {
moz-border-radius: 0 5px 5px 0px;
background: none repeat scroll 0 0 white;
border-radius: 0 5px 5px 0px;
display: inline-block;
margin-left: 170px;
position: absolute;
top: -15px;
}

/* #nav ul ul li#menu-8682 ul li { */
#nav ul li.menu-path-node-1537 ul ul li {
border-top:1px solid #86C6E1;
float:left;
height:auto;
position:relative;
}

#nav ul li.menu-path-node-1537 ul ul li:first-child { border-top: none;}

/* custom form styles */
table.subfields-to-table div.form-item {text-align: center;}
#webform-component-company_information label {width: 145px;}

#main .labels-break {}
#main .labels-break label {}
#main .labels-break .form-item {}
#main .labels-inline {}
#main .labels-inline label {}
.label-inline .form-item {}

#webform-client-form-1867 #main .form-item {
padding-left: 175px;

}
#webform-client-form-1867 #main .form-item label {
width: 170px;
}


#block-user-0 .title{
    padding-bottom:12px;
}

.login-message,.prof-sus-block{
    border:1px solid #9dba9b;
    padding:10px;
    background-color: #edf4ed;
    color:darkGreen;
    font-size:12px;
}

.admin-menu.logged-in .messages.notice{
    display:block;
}

.logged-in .messages.notice{
    display:none;
}

.logged-in .hide-if-logged-in{
    display:none;
}
